.list-group-item {
    background-color: transparent;
    color: black;
    border: none;
}
.list-group-item.active {
    background-color: transparent;
    color: black;
}
.list-group-item:hover, .list-group-item:focus {
    background-color: #ebeb00;
    color: black;
}
